.container {
  width: 100%;
  height: auto;
  max-width: 900px;
  /* background-color: gray; */
  margin: 0 auto;
}

#presentation {
  padding: 20px;
  color: #ccc;
}

#services {
  width: 100%;
}

#services div.service {
  background: gray;
  margin:5px;
}

#services div.service img {
  width: 100%;
  max-width: 300px;
  float: left;
}

/* EMPIEZA LO NUEVO */

.fullcontainer {
  width: 100%;
  height: auto;
  /* max-width: 900px; */
  /* background-color: #1a1a1a; */
  background-color: #080407;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  color: #cccccc;
}

.adjustcentertext {
  display: flex !important;
  flex-direction: column !important;
}

.fullcontainer .left {
  padding: 50px;
  /* background-color: grey; */
}

.fullcontainer .right {
  padding: 50px;
  /* background-color: white; */
}

.fullcontainer .center {
  padding: 50px;
}

.whitebg {
  background-color: #f2f2f2;
  color: #1a1a1a;
}

.verticalAlign {
  display:flex;
  align-items:center !important;
}

.nobg {
  background: none;
}

.imagebg {
  height: 300px;
  /* background-color: pink; */
  background-repeat: no-repeat;
  background-position: center;
}

.imgfullbody {
  margin: 100px 0;
  /* background-image: url(../images/bg/poisoned-2.png); */
}

.imgejemplo {
  background-image: url(../images/bg/poisoned-2.png);
}

.imgcentrado {
  background-position: center;
}

.imgfixed {
  background-attachment: fixed;
}

.left.imagebg {
  background-position: center;
}

.right.imagebg {
  background-position: center;
}

.whiteFont {
  color: #cccccc;
}

#intro-images {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  text-align: center;
}

#intro-images div.introimage {
  background: none;
  margin:5px;
}

#intro-images div.introimage img {
  width: 100%;
  max-width: 250px;
  min-width: 200px;
}

#intro-text {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  text-align: center;
}

.text-maxwidth {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  text-align: center;
}


#allmyinfo {
  display: flex;
  flex-direction: column;
  margin: 30px 0 -30px 0;
}

#allmyinfo .col2 {
  margin-left: 0px;
}

#allmyinfo .myinfo {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  /* si cambio este tambien el margen negativo de #allmyinfo */
}

#allmyinfo .myinfo span {
  color: #ccc;
}

#allmyinfo .myinfo h3 {
  margin: 0 0 8px 0;
}

#allmyinfo .myinfo span.title {
  font-weight: normal;
  display:inline;
  background-color: #4d2e6b;
  padding: 2px 6px;
  font-size: 16px;
  border-radius: 2px;
}

/* ----------------RESPONSIVE---------------- */

@media (min-width: 710px) {
  .fullcontainer {
    flex-direction: row;
  }

  .fullcontainer .left {
    width: 50%;
  }

  .fullcontainer .right {
    width: 50%;
  }

  .fullcontainer .center {

  }

  .imagebg{
    height: auto;
  }

  .left.imagebg {
    background-position: left;
  }

  .right.imagebg {
    background-position: right;
  }

  #intro-images {
    display: flex;
    justify-content:space-between;
    flex-direction: row;
  }


}

@media (min-width: 1024px) {

  #allmyinfo {
    flex-direction: row;
  }

  #allmyinfo .col2 {
    margin-left: 50px;
  }

}
