.container {
  width: 100%;
  height: auto;
  max-width: 900px;
  /* background-color: gray; */
  margin: 0 auto;
}

#presentation {
  padding: 20px;
  color: #ccc;
}

#services {
  width: 100%;
}

#services div.service {
  background: gray;
  margin:5px;
}

#services div.service img {
  width: 100%;
  max-width: 300px;
  float: left;
}

/* EMPIEZA LO NUEVO */

.fullcontainer {
  width: 100%;
  height: auto;
  /* max-width: 900px; */
  background-color: #1a1a1a;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  color: #f2f2f2;
}

.adjustcentertext {
  display: flex !important;
  flex-direction: column !important;
}

.fullcontainer .left {
  padding: 50px;
  /* background-color: grey; */
}

.fullcontainer .right {
  padding: 50px;
  /* background-color: white; */
}

.fullcontainer .center {
  padding: 50px;
}

.fullcontainer .center.whitebg {
  background-color: #f2f2f2;
  color: #1a1a1a;
}

.imagebg {
  height: 300px;
  background-color: pink;
  background-image: url(../images/bg/poisoned-2.png);
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-position: center;
}

.parte1 {
  margin-top: 100px;
  margin-bottom: 100px;
}

#intro-images {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  text-align: center;
}

#intro-images div.introimage {
  background: none;
  margin:5px;
}

#intro-images div.introimage img {
  width: 100%;
  max-width: 250px;
  min-width: 200px;
}

#intro-text {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  text-align: center;
}

.text-maxwidth {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  text-align: center;
}


/* ----------------RESPONSIVE---------------- */

@media (min-width: 710px) {
  .fullcontainer {
    flex-direction: row;
  }

  .fullcontainer .left {
    width: 50%;
  }

  .fullcontainer .right {
    width: 50%;
  }

  .fullcontainer .center {

  }

  .imagebg{
    height: auto;
  }

  #intro-images {
    display: flex;
    justify-content:space-between;
    flex-direction: row;
  }
}
