.footer-bg {
  width: 100%;
  /* height: 300px; */
  /* background-color: purple; */
  display: flex;
  justify-content: center;
}

.footer-bg p {
  color: #ccc;
  font-size: 12px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.footer-bg p#my-copyright {
  margin-top: 10px;
}

.footer-bg p a {
  text-decoration: none;
  transition: text-decoration 1s ease;
}

.footer-bg p a:hover {
  text-decoration: underline;
  transition: text-decoration 1s ease;
}

footer {
  width: 100%;
  /* max-width: 1024px; */
  height: 150px;
  color: white;
}

.footer-logo {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer-logo a {
  height: 22px;
}

.footer-logo svg {
  height: 22px;
}

.footer-logo path {
  fill: #33cccc;
  opacity: 0.8;
}

.redes {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.redes i {
  margin: 0 5px 0 5px;
  font-size:18px;
  color: #666;
  transform: translateY(0px);
  transition: 0.5s ease;
}

.redes i:hover {
  color: #999;
  transform: translateY(-5px);
  transition: 0.5s ease;
}

#footer-nav-buttons {
  display: flex;
  justify-content: center;
  color: #999999;
}

#footer-nav-list {
  background: transparent;
  padding-left: 0;
  margin: 5px 0 20px 0 ;
}

#footer-nav-list li{
  display: inline;
  list-style-type: none;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  padding: 5px;
}
