#migaleria {
  background-color: #1a1a1a;
}

.filter {
  font-size: 22px;
  color: #33cccc;
  padding: 0 5px;
  font-style: italic;
  opacity: 0.8;
  transition: none;
}

.filter span:hover {
  border-bottom: 2px solid;
  transition: none;
}

.myGallery {
  overflow: hidden;
  /* background-color: yellow; */
}

.myGallery ul {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;

  margin: 0 -2px -2px 0;

  list-style: none;
  padding: 0;
}

li.previewGallery {
  flex: 1 0 300px; /* Three values: flex-grow | flex-shrink | flex-basis */
  border-right: 2px solid #1a1a1a;
  border-bottom: 2px solid #1a1a1a;
  background-color: #33cccc;
  opacity: 0.5;
  transition: opacity 0.5s ease;
}

li.previewGallery:hover {
  opacity: 1.0;
  transition: opacity 0.5s ease;
}

/* ----------------RESPONSIVE---------------- */
