.filter {
  font-size: 22px;
  color:#ccc;
  padding: 0 10px;
  opacity: 0.8;
}

.myGallery {
  overflow: hidden;
  /* background-color: yellow; */
}

.myGallery ul {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;

  margin: 0 -2px -2px 0;

  list-style: none;
  padding: 0;
}

li.previewGallery {
  flex: 1 0 300px; /* Three values: flex-grow | flex-shrink | flex-basis */
  border-right: 2px solid #0d0d0d;
  border-bottom: 2px solid #0d0d0d;
  background-color: #33cccc;
}

/* ----------------RESPONSIVE---------------- */
