div.mylightbox {
  visibility: hidden;
  position: fixed;
  z-index: 1000;

  left: 0;
  top: 0;

  width: 100%;
  height: 100%;

  overflow: auto;
  background-color: rgba(0,0,0,0.8);

  display: flex;
  justify-content: center;
  align-items: center;
}

.lightbox-container {
  width: 100%;
  max-width: 900px;
  max-height: 90%;
  margin: 10px;
  overflow-y: scroll;
}

.lightbox-container::-webkit-scrollbar { 
  display: none;
}

img.fullsizeimage {
  width: calc(100% - 10px);
  height: auto;
  border: 5px solid #fff;
  border-radius: 5px;
}

div.imginfo {
  width: 100%;
  color: #ccc;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-bottom: 15px;
  font-size: 20px;
}

div.imginfo a {
  color: #33cccc;
  font-style: italic;
  cursor: pointer;
  font-size: 20px;
  transition: 0;
}

div.imginfo a:hover {
  border-bottom: 2px solid;
  transition: 0;
}

div.imginfo a.closeLightbox {
  /* color: #4d2e6b; */
}
