div.mylightbox {
  visibility: hidden;
  position: fixed;
  z-index: 1000;

  left: 0;
  top: 0;

  width: 100%;
  height: 100%;

  overflow: auto;
  background-color: rgba(0,0,0,0.8);

  display: flex;
  justify-content: center;
  align-items: center;
}

.lightbox-container {
  width: 100%;
  max-width: 900px;
  max-height: 90%;
  margin: 10px;
}

img.fullsizeimage {
  width: 100%;
  height: auto;
  border: 5px solid #fff;
  border-radius: 5px;
}

div.imginfo {
  width: 100%;
  color: #ccc;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-bottom: 15px;
  font-size: 20px;
}

.imginfo a span {
  cursor: pointer;
  font-size: 20px;
}

.imginfo a span:hover {
  border-bottom: 2px solid;
}
