@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,400i|Roboto:300,400,400i');

body {
  background-color: #0d0d0d;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

h1 {
  font-family: 'Roboto', sans-serif;
}

h3 {
  font-family: 'Roboto', sans-serif;
}

a {
  color: inherit; /* no blue */
  text-decoration: inherit; /* no underline */
  transition: 0.5s ease;
}

/* IMAGE PROPERTIES */
#copyright {
  position:absolute;
  left: 1px;
  bottom: 1px;
  z-index:20;
  color: #ccc;
  font-size: 12px;
  -ms-transform: rotate(270deg) translate(160px,-135px); /* IE 9 */
  -webkit-transform: rotate(270deg) translate(160px,-135px); /* Safari */
  transform: rotate(270deg) translate(150px,-135px); /* Standard syntax */
}

#copyright a {
  text-decoration: none;
  transition: text-decoration 1s ease;
}

#copyright a:hover {
  text-decoration: underline;
  transition: text-decoration 1s ease;
}

/* IMAGE PROPERTIES */
.object-fit_fill { object-fit: fill }
.object-fit_contain { object-fit: contain }
.object-fit_cover { object-fit: cover }
.object-fit_none { object-fit: none }
.object-fit_scale-down { object-fit: scale-down }
.image--center { object-position: 50% 50%; }
.image--bottom-right { object-position: 100% 100%; }
.image--bottom-left {  object-position: 0  100%; }
.image--top-left { object-position: 0  0; }
.image--up { object-position: 50%  120%; }
.image--down { object-position: 50%  -20%; }
.image--left { object-position: 120%  50%; }
.image--right { object-position: -20%  50%; }

/* TEXT PROPERTIES */
.centerText { text-align:center; }
.leftText { text-align:left; }
.rightText { text-align:right; }

/* FLEX PROPERTIES */
.flex-spacebetween {
  display: flex;
  justify-content:space-between;
  flex-direction: row;
}
.flex-spacearound {
  display: flex;
  justify-content:space-around;
  flex-direction: row;
}
.flex-centervertically {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-columndirection{
  display: flex;
  flex-direction:column;
}



.container {
  width: 100%;
  height: auto;
  max-width: 900px;
  /* background-color: gray; */
  margin: 0 auto;
}

#presentation {
  padding: 20px;
  color: #ccc;
}

#services {
  width: 100%;
}

#services div.service {
  background: gray;
  margin:5px;
}

#services div.service img {
  width: 100%;
  max-width: 300px;
  float: left;
}



/* ----------------RESPONSIVE---------------- */

@media (min-width: 425px) {

}

@media (min-width: 500px) {

}

@media (min-width: 768px) {

}
