@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,400i|Roboto:300,400,400i');

body {
  background-color: #0d0d0d;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

h1 {
  font-family: 'Roboto', sans-serif;
}

h3 {
  font-family: 'Roboto', sans-serif;
}

a {
  color: inherit; /* no blue */
  text-decoration: inherit; /* no underline */
  transition: 0.5s ease;
}

/* IMAGE PROPERTIES */
.object-fit_fill { object-fit: fill }
.object-fit_contain { object-fit: contain }
.object-fit_cover { object-fit: cover }
.object-fit_none { object-fit: none }
.object-fit_scale-down { object-fit: scale-down }
.image--center { object-position: 50% 50%; }
.image--bottom-right { object-position: 100% 100%; }
.image--bottom-left {  object-position: 0  100%; }
.image--top-left { object-position: 0  0; }
.image--up { object-position: 50%  120%; }
.image--down { object-position: 50%  -20%; }
.image--left { object-position: 120%  50%; }
.image--right { object-position: -20%  50%; }


.nav-bg {
  width: 100%;
  /* height: 150px; */
  background-color:rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  position: fixed;
  z-index: 100;
}

nav {
  width: 100%;
  max-width: 1024px;
  /* height: 150px; */
  /* background-color: green; */
  color: white;
  display: flex;
  justify-content: space-between;
}

#logo {
  height: 50px;
  /* background-color: blue; */
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo svg {
  padding-left: 2px;
  width: 38px;

  transition: 0.5s ease;

  /* padding-left: 8px;
  width: 150px; */
}

#logo svg:hover {
  opacity: 0.9;
}

#logo path {
  fill: #ccc;
}

#nav-button {
  width: 50px;
  height: 50px;
  /* background-color: blue; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

#nav-buttons{
  width: 100%;
  max-width: 1024px;
  display: none;
  position: absolute;
  z-index: 50;
  transform: translateY(34px);
}

#nav-buttons svg.dot {
  display: none;
}

#nav-buttons svg.curved-line {
  display: inline;
}

#nav-list {
  /* width: 250px; */
  background-color:rgba(0, 0, 0, 1);
  padding-left: 0;
  margin-bottom: 0;
  float: right;
}

#nav-list li{
  list-style-type: none;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 100;
  padding: 20px 60px 20px 20px;
  /* border-bottom: 1px solid #1a1a1a; */
}

#nav-list a:active{
   color: purple;
}

/* MAIN-BANNER */
.banner {
  background-color: #080d11;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-container {
  width: 100%;
  overflow: hidden;
  background-color: #060305;
}

.img-container img {
  width: 100%;
  height: 100%;
  object-fit:cover;
}

.txt-container {
  position: absolute;
  transition: margin 0.5s ease-out;
  z-index: 20;
}

.txt-banner {
  margin-top: 25px;
  fill: #ccc;
  padding: 0 10px 0 40px;
}

.txt-banner a {
  fill: #ccc;
}

.txt-banner span {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
  font-size: 46px;
  color: #ccc;
}

.txt-banner svg {
  height: 50px;
  transform: translateY(9px);
  margin-left: -3px;
}

/* FIN MAIN-BANNER */

#content {
  width: 100%;
  height: auto;
  max-width: 1024px;
  /* background-color: gray; */
  margin: 0 auto;
}

.footer-bg {
  width: 100%;
  /* height: 300px; */
  /* background-color: purple; */
  display: flex;
  justify-content: center;
}

footer {
  width: 100%;
  /* max-width: 1024px; */
  height: 150px;
  color: white;
}

.footer-logo {
  margin-top: 20px;
  width: 100%;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer-logo svg {
  height: 22px;
}

.footer-logo path {
  fill: #33cccc;
  opacity: 0.8;
}

.redes {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.redes {
  display: flex;
  justify-content: center;
  align-items: center;
}

.redes i {
  margin: 0 5px 0 5px;
  font-size:18px;
  color: #666;
  transform: translateY(0px);
  transition: 0.5s ease;
}

.redes i:hover {
  color: #999;
  transform: translateY(-5px);
  transition: 0.5s ease;
}

#footer-nav-buttons {
  display: flex;
  justify-content: center;
  color: #999999;
}

#footer-nav-list {
  background: transparent;
  padding-left: 0;
  margin: 5px 0 20px 0 ;
}

#footer-nav-list li{
  display: inline;
  list-style-type: none;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  padding: 5px;
}


/* RESPONSIVE */

@media (min-width: 425px) {
  /* MAIN-BANNER */
  .img-banner {
    transition: margin 0.5s ease-out;
  }
  .txt-banner {
    padding: 0 10px 0 10px;
  }
  .txt-banner svg {
    margin-left: 2px;
  }
}

@media (min-width: 500px) {
  /* MAIN-BANNER */
  .img-container img {
    object-position: 0 35%;
  }
}

@media (min-width: 768px) {
  #nav-button {
    display: none;
  }
  #nav-buttons{
    width: 80%;
    display: block;
    position: relative;
    transform: none;
  }
  #nav-buttons svg.dot {
    display: inline;
    padding: 0 10px 0 10px;
  }

  #nav-buttons .curved-line {
    display: none;
  }

  #nav-buttons circle {
    fill: #33cccc;
  }

  #nav-list {
    /* width: 250px; */
    background-color: transparent;
    margin-bottom: 0;
    padding-right: 15px;
  }
  #nav-list li{
    display: inline;
    padding: 0px;
    border: 0px;
    font-size: 15px;
  }
  #nav-list a:hover {
    color: #ccc;
  }

  /* FIN MAIN-BANNER */

}
