@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto:100,100i,300,300i,400,400i');

body {
  background-color: #0d0d0d;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

h1 {
  font-family: 'Roboto', sans-serif;
}

h3 {
  font-family: 'Roboto', sans-serif;
}

a {
  color: inherit; /* no blue */
  text-decoration: inherit; /* no underline */
  transition: 0.5s ease;
}

/* IMAGE PROPERTIES */
.object-fit_fill { object-fit: fill }
.object-fit_contain { object-fit: contain }
.object-fit_cover { object-fit: cover }
.object-fit_none { object-fit: none }
.object-fit_scale-down { object-fit: scale-down }
.image--center { object-position: 50% 50%; }
.image--bottom-right { object-position: 100% 100%; }
.image--bottom-left {  object-position: 0  100%; }
.image--top-left { object-position: 0  0; }
.image--up { object-position: 50%  120%; }
.image--down { object-position: 50%  -20%; }
.image--left { object-position: 120%  50%; }
.image--right { object-position: -20%  50%; }


.nav-bg {
  width: 100%;
  /* height: 150px; */
  background-color:rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  position: absolute;
}

nav {
  width: 100%;
  max-width: 1024px;
  /* height: 150px; */
  /* background-color: green; */
  color: white;
  display: flex;
  justify-content: space-between;
}

#logo {
  height: 50px;
  /* background-color: blue; */
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo svg {
  /* padding-left: 2px;
  width: 50px; */

  padding-left: 8px;
  width: 150px;
}

#logo path {
  fill: #ccc;
}

#nav-button {
  width: 50px;
  height: 50px;
  /* background-color: blue; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

#nav-buttons{
  width: 100%;
  max-width: 1024px;
  display: none;
  position: absolute;
  z-index: 10;
  transform: translateY(34px);
}

#nav-list {
  /* width: 250px; */
  background-color:rgba(0, 0, 0, 1);
  padding-left: 0;
  margin-bottom: 0;
  float: right;
}

#nav-list li{
  list-style-type: none;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 100;
  padding: 20px 60px 20px 20px;
  border-bottom: 1px solid #1a1a1a;
}

#nav-list a:active{
   color: purple;
}

/* MAIN-BANNER */
.banner {
  width: 100%;
  height: 350px;
  margin-bottom: 20px;
  background-color: #080d11;
  border-bottom: 1px solid #1a1a1a;
  display: flex;
  justify-content: center;
}

.img-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #080d11;
}

.img-banner {
  width: 100%;
  height: 100%;
  z-index: -5;
  background-image: url(../images/bg/poisoned.png);
  background-position: center;
  background-size: 170%;
  transition: margin 0.5s ease-out;
}
/* FIN MAIN-BANNER */

.content {
  width: 100%;
  height: 500px;
  max-width: 1024px;
  background-color: gray;
  margin: 0 auto;
}

.footer-bg {
  width: 100%;
  /* height: 300px; */
  /* background-color: purple; */
  display: flex;
  justify-content: center;
}

footer {
  width: 100%;
  /* max-width: 1024px; */
  height: 150px;
  color: white;
}

.footer-logo {
  margin-top: 20px;
  width: 100%;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer-logo svg {
  width: 30px;
}

.footer-logo path {
  fill: #049595;
}

.redes {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.redes {
  display: flex;
  justify-content: center;
  align-items: center;
}

.redes i {
  margin: 0 5px 0 5px;
  font-size:18px;
  color: #666;
  transform: translateY(0px);
  transition: 0.5s ease;
}

.redes i:hover {
  transform: translateY(-5px);
  transition: 0.5s ease;
}

#footer-nav-buttons {
  display: flex;
  justify-content: center;
  color: #999999;
}

#footer-nav-list {
  background: transparent;
  padding-left: 0;
  margin: 5px 0 20px 0 ;
}

#footer-nav-list li{
  display: inline;
  list-style-type: none;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  padding: 5px;
}

#footer-nav-list a:hover{
   color: #666;
}


/* RESPONSIVE */
@media (min-width: 768px) {
  #nav-button {
    display: none;
  }
  #nav-buttons{
    width: 80%;
    display: block;
    position: relative;
    transform: none;
  }
  #nav-list {
    /* width: 250px; */
    background-color: transparent;
    padding-right: 20px;
    margin-bottom: 0;
  }
  #nav-list li{
    display: inline;
    padding-right: 0px;
    border: 0px;
    font-size: 15px;
  }
  #nav-list a:hover {
    color: #ccc;
  }

  /* MAIN-BANNER */
  .banner {
    width: 100%;
    height: 500px;
    margin-bottom: 20px;
    background-color: #080d11;
    border-bottom: 1px solid #1a1a1a;
    /* overflow: hidden; */
    display: flex;
    justify-content: center;
  }

  .img-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #080d11;
  }

  .img-banner {
    width: 100%;
    height: 100%;
    background-image: url(../images/bg/poisoned.png);
    background-size: 80%;
    background-position: center;
    transition: margin 0.5s ease-out;
  }
  /* FIN MAIN-BANNER */
}
